asn1crypto==0.24.0
attrs==19.3.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.0
blinker==1.4
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.3.7
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.6.1
cycler==0.10.0
dbus-python==1.2.12
decorator==4.4.2
entrypoints==0.3
enum34==1.1.6
Flask==1.1.2
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.18.2
html5lib==1.0.1
importlib-metadata==1.6.0
ipaddress==1.0.17
itsdangerous==1.1.0
jams==0.3.4
Jinja2==2.11.1
jsonschema==3.2.0
keyring==18.0.1
keyrings.alt==3.1.1
kiwisolver==1.1.0
llvmlite==0.31.0
lxml==4.4.1
MarkupSafe==1.1.1
matplotlib==2.2.4
MIDIUtil==1.2.1
mir-eval==0.6
numba==0.47.0
numpy==1.16.2
pandas==0.24.2
pathlib2==2.3.5
pathspec==0.7.0
pycparser==2.20
pycrypto==2.6.1
Pygments==2.3.1
PyGObject==3.34.0
pyinotify==0.9.6
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2019.3
pyxdg==0.26
PyYAML==5.1.2
resampy==0.2.2
scandir==1.10.0
scipy==1.2.3
scour==0.37
SecretStorage==2.3.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.12.0
sortedcontainers==2.1.0
SoundFile==0.10.3.post1
soupsieve==1.9.2
subprocess32==3.5.4
vamp==1.1.0
webencodings==0.5.1
Werkzeug==1.0.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
yamllint==1.20.0
zipp==1.2.0
