<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>smarTest</title>
  <link rel="icon" href="{{ url_for('static',filename='pics/favicon.png') }}" type="image/x-icon"/>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/one-page-wonder.min.css') }}" rel="stylesheet">

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>

   <!-- Fa-Fa -->
  <script src="https://kit.fontawesome.com/301b488078.js" crossorigin="anonymous"></script>
   <!-- Easy-Button -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="/index">smarTest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
    {% if username %}
    <li class="nav-item">
        <a class="nav-link" href="#">Add test</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/guide">Guide</a>
    </li>
      <li class="nav-item">
          <a class="nav-link" href="/message">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout: {{ username }} </a>
      </li>
	  {% else %}
          <li class="nav-item">
            <a class="nav-link" href="#">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
	  {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <img style="position: absolute; right: 30px; top: 150px; z-index: -50;" src="{{ url_for('static', filename='pics/planeta3.svg') }}">


  <section>
    <div class="container">
      <center>
        <h1 style="margin-top: 20px;">Add question to test</h1>
        <form action="{{ url_for('addquestion') }}" method="post" enctype="multipart/form-data" id="addquestion">
          <!---Repeatable--->
          {% if questioncount %}
            <p>Question {{ questioncount }}</p>
          {% else %}
            <p>Question</p>
          {% endif %}
          <div class="gridify">
            <label>Question:</label>
            <input type="text" name="name" required />
            <label>Picture (optional):</label>
            <input type="file" name="file1" style="border-width: 0;">
            <label>Points:</label>
            <input type="number" name="points" required>
            <label>Type:</label>
            <select name="type" required
            onchange="
              if (selectedIndex == 0) {
                document.getElementById('closedQuestionOptions').hidden = false;
              } else {
                document.getElementById('closedQuestionOptions').hidden = true;
              }
              ">
              <option value="closed" selected>Closed</option>
              <option value="open">Open</option>
              <option value="drawn">Drawn</option>
              <option value="coding">Coding [Python]</option>
            </select>
          </div>
          <!---Closed--->
          <div class="gridify" style="margin-top: 20px;" id="closedQuestionOptions">
            <label>Option 1:</label>
            <input type="text" name="option1">
            <label>Option 2:</label>
            <input type="text" name="option2">
            <label>Option 3:</label>
            <input type="text" name="option3">
            <label>Option 4:</label>
            <input type="text" name="option4"><br />
            Correct answer:<input type="number" name="correct" min="1" max="4"><br />
          </div>
          <input type="submit" style="margin: 10px;" value="Add another question">
        </form>
        <a href="index"><button>Save and go home</button></a>
      </center>
    </div>
  </section>



  <!-- Footer -->
  <img id='footer' style="position: absolute; bottom: 0; right: 0; left: 0;" width="100%"
    src="{{ url_for('static', filename='pics/footer.svg') }}">

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/map.js') }}"></script>

</body>

</html>
