<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>smarTest</title>
  <link rel="icon" href="{{ url_for('static',filename='pics/favicon.png') }}" type="image/x-icon"/>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/one-page-wonder.min.css') }}" rel="stylesheet">

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>

   <!-- Fa-Fa -->
  <script src="https://kit.fontawesome.com/301b488078.js" crossorigin="anonymous"></script>
   <!-- Easy-Button -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="#">smarTest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
    {% if username %}
      <li class="nav-item">
          <a class="nav-link" href="/addtest">Add test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/message">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout: {{ username }} </a>
      </li>
	  {% else %}
          <li class="nav-item">
            <a class="nav-link" href="#">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
	  {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <center>
    <h1 style="margin: 20px;">Dashboard</h1>
  </center>

      <h3 style="margin-left: 40px;">Unfinished tests</h3>
      {% if test %}
        <label style="margin-left: 40px;">{{ test[1] }}
          <a href="addtest" style="margin-left: 20px;"><button>Continue editing</button></a>
          <a href="endAddTest"><button>Publish</button></a>
        </label>
      {% else %}
        <p style="margin-left: 40px;">Nothing to show</p>
      {% endif %}

      <h3 style="margin-left: 40px; margin-top: 40px;">Published tests</h3>
      {% if published %}
        <div style="margin-right: 40px; margin-left: 40px;">
          <table style="width: 100%;">
            <tr>
              <th style="width: 15%;"><b>Name</b></th>
              <th style="width: 30%;"><b>Description</b></th>
              <th style="width: 10%;"><b>Start date</b></th>
              <th style="width: 10%;"><b>End date</b></th>
              <th style="width: 10%;"><b>Total time [min]</b></th>
              <th style="width: 25%;"><b>Action</b></th>
            </tr>
            {% for item in published %}
              <tr>
                <th>{{ item[0] }}</th>
                <th>{{ item[1] }}</th>
                <th>{{ item[2] }}</th>
                <th>{{ item[3] }}</th>
                <th>{{ item[4] }}</th>
                <th>
                  {% if item[2] <= date %}
                    <p style="margin: 0px;">Underway</p>
                  {% else %}
                    {% if item[0] == test[1] %}
                      <p style="margin: 0px;">Currently edited</p>
                    {% else %}
                      <a style="margin-right: 10px;" href="unpublishTest?testId={{item[5]}}"><button>Unpublish</button></a><a href="deleteTest?testId={{item[5]}}"><button>Delete</button></a>
                    {% endif %}
                  {% endif %}
                </th>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% else %}
        <p style="margin-left: 40px;">Nothing to show</p>
      {% endif %}

      <h3 style="margin-left: 40px; margin-top: 40px;">Completed tests</h3>
      {% if completed %}
      <div style="margin-right: 40px; margin-left: 40px;">
        <table style="width: 100%;">
          <tr>
            <th style="width: 15%;"><b>Name</b></th>
            <th style="width: 30%;"><b>Description</b></th>
            <th style="width: 10%;"><b>Start date</b></th>
            <th style="width: 10%;"><b>End date</b></th>
            <th style="width: 10%;"><b>Total time [min]</b></th>
            <th style="width: 25%;"><b>Action</b></th>
          </tr>
          {% for item in completed %}
          <tr>
            {{completed}}
            <th>{{ item[0] }}</th>
            <th>{{ item[1] }}</th>
            <th>{{ item[2] }}</th>
            <th>{{ item[3] }}</th>
            <th>{{ item[4] }}</th>
            <th><a href="check/{{ item[5] }}"><button>Check</button></a></th>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% else %}
      <p style="margin-left: 40px;">Nothing to show</p>
      {% endif %}

      <h3 style="margin-left: 40px; margin-top: 40px;">Checked tests</h3>
      {% if checked %}
      <div style="margin-right: 40px; margin-left: 40px;">
        <table style="width: 100%;">
          <tr>
            <th style="width: 15%;"><b>Name</b></th>
            <th style="width: 30%;"><b>Description</b></th>
            <th style="width: 10%;"><b>Start date</b></th>
            <th style="width: 10%;"><b>End date</b></th>
            <th style="width: 10%;"><b>Total time [min]</b></th>
            <th style="width: 25%;"><b>Action</b></th>
          </tr>
          {% for item in checked %}
          <tr>
            <th>{{ item[0] }}</th>
            <th>{{ item[1] }}</th>
            <th>{{ item[2] }}</th>
            <th>{{ item[3] }}</th>
            <th>{{ item[4] }}</th>
            <th><a href="check/{{ item[5] }}"><button style="margin-right: 20px;">Results</button></a></th>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% else %}
      <p style="margin-left: 40px;">Nothing to show</p>
      {% endif %}

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">smarTest 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/map.js') }}"></script>

</body>

</html>
