<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>smarTest</title>
  <link rel="icon" href="{{ url_for('static',filename='pics/favicon.png') }}" type="image/x-icon"/>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/one-page-wonder.min.css') }}" rel="stylesheet">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
  <script src="http://www.skulpt.org/js/skulpt.min.js" type="text/javascript"></script>
  <script src="http://www.skulpt.org/js/skulpt-stdlib.js" type="text/javascript"></script>

   <!-- Fa-Fa -->
  <script src="https://kit.fontawesome.com/301b488078.js" crossorigin="anonymous"></script>
   <!-- Easy-Button -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

  <style>
    .cont {
      display: flex;
      flex-direction:column;
    }
  </style>
  <script type="text/javascript">
  function addEvent(obj, evt, fn) {
      if (obj.addEventListener) {
          obj.addEventListener(evt, fn, false);
      }
      else if (obj.attachEvent) {
          obj.attachEvent("on" + evt, fn);
      }
  }
  addEvent(window,"load",function(e) {
      addEvent(document, "mouseout", function(e) {
          e = e ? e : window.event;
          var from = e.relatedTarget || e.toElement;
          if (!from || from.nodeName == "HTML") {
              alert("You left the window! Game over;((");
              document.getElementById("submit").click();
          }
      });
  });
  function show() {
      var elem = document.getElementById("test");
      document.getElementById('intro').style.display = "none";
      document.getElementById('test').style.display = "block";
      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.mozRequestFullScreen) { /* Firefox */
        elem.mozRequestFullScreen();
      } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
        elem.webkitRequestFullscreen();
      } else if (elem.msRequestFullscreen) { /* IE/Edge */
        elem.msRequestFullscreen();
      }
    }
  show();
  // output functions are configurable.  This one just appends some text
  // to a pre element.
  function outf(text) {
      var mypre = document.getElementById("output");
      mypre.innerHTML = mypre.innerHTML + text;
  }
  function builtinRead(x) {
      if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
              throw "File not found: '" + x + "'";
      return Sk.builtinFiles["files"][x];
  }
  function runit() {
    try {
      var prog = document.getElementById("yourcode").value;
      var mypre = document.getElementById("output");
      mypre.innerHTML = '';
      Sk.pre = "output";
      Sk.configure({output:outf, read:builtinRead});
      (Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'mycanvas';
      var myPromise = Sk.misceval.asyncToPromise(function() {
          return Sk.importMainWithBody("<stdin>", false, prog, true);
      });
      myPromise.then(function(mod) {
          console.log('success');
      },
          function(err) {
          console.log(err.toString());
      });
    } catch (e) {
      mypre.innerHTML = 'e';
    }
  }
  </script>
</head>

<body onload="init()">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="#">smarTest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
    {% if username %}
    <p></p>
	  {% else %}
          <li class="nav-item">
            <a class="nav-link" href="#">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
	  {% endif %}
        </ul>
      </div>
    </div>
  </nav>

{% if username %}
          <div id="intro">
            <center>
            <h1><br/><br/><br/>Instructions</h1>
            <h3><ol>
              <li>Don't leave the screen with your cursor! Your test will end!</li>
              <li>Don't leave fullscreen</li>
              <li>Don't refresh your webpage</li>
            </ol></h3>
            <button style="margin-bottom: 50in;" onclick="show()">Start test!</button>
          </center>
          </div>
          <div id="test" style="display:none; background-color: white; overflow-y: scroll;">
            <center>
              <h1 style="margin-top: 15px; margin-bottom: 8px;">{{ testName }}</h1>
              <h4 id="demo" style="margin-top: 0px;"></h4>
              <script>
                var deadtime = '{{ data.endtime }}'
                var deadline = new Date(deadtime).getTime();
                var x = setInterval(function() {
                  var now = new Date().getTime();
                  var t = deadline - now;
                  var days = Math.floor(t / (1000 * 60 * 60 * 24));
                  var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
                  var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
                  var seconds = Math.floor((t % (1000 * 60)) / 1000);
                  document.getElementById("demo").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
                  if (t < 0) {
                    clearInterval(x);
                    alert("The time has ended. Your test was submitted automatically");
                    document.getElementById("submit").click();
                  }
                }, 1000);
              </script>
            </center>

            <img src="{{ url_for('static',filename='pics/planet.png') }}" style="float: right; margin: 40px; max-width: 30%;">

              <form action="{{ url_for('savetestsolve') }}" method="post" style="margin: 30px;">
                <input type="text" value="{{ testid }}" name="testid" style="display:none">
              <p style="width: 100%; height: 2px; background-color: black;"></p>
              {% for i in content %}

              <h4 style="margin-bottom: 0px;">{{ loop.index0 + 1 }}. {{ i[1] }}</h4><br/>
              {% set image = "test_pics/"+i[3] %}
              <p>Points: {{ i[9] }}</p>
              {% if i[3]!='' %}
              <img class="img-fluid" src="{{ url_for('static',filename=image) }}" style="max-width:60%; margin-top: 10px; margin-bottom: 10px;" alt="">
              {% endif %}

              {% if i[2]=="open" %}
                <textarea name="answers[]" placeholder="Your answer..." cols="40" rows="10"></textarea>
              {% endif %}

              {% if i[2]=="closed" %}
              <br/>
              <div>
                <input type="radio" name="answers[]" value="{{ i[4] }}">
                {{ i[4] }}
              </div>
              <div>
                <input type="radio" name="answers[]" value="{{ i[5] }}">
                {{ i[5] }}
              </div>
              <div>
                <input type="radio" name="answers[]" value="{{ i[6] }}">
                {{ i[6] }}
              </div>
              <div>
                <input type="radio" name="answers[]" value="{{ i[7] }}">
                {{ i[7] }}
              </div>
              {% endif %}

              {% if i[2]=="drawn" %}
              <script type="text/javascript">
              var canvas, ctx, flag = false,
                  prevX = 0,
                  currX = 0,
                  prevY = 0,
                  currY = 0,
                  dot_flag = false;

              var x = "black",
                  y = 2;

              function init() {
                  canvas = document.getElementById('{{ loop.index0 + 1 }}');
                  ctx = canvas.getContext("2d");
                  w = canvas.width;
                  h = canvas.height;

                  canvas.addEventListener("mousemove", function (e) {
                      findxy('move', e)
                  }, false);
                  canvas.addEventListener("mousedown", function (e) {
                      findxy('down', e)
                  }, false);
                  canvas.addEventListener("mouseup", function (e) {
                      findxy('up', e)
                  }, false);
                  canvas.addEventListener("mouseout", function (e) {
                      findxy('out', e)
                  }, false);
              }

              function color(obj) {
                  switch (obj.id) {
                      case "green":
                          x = "green";
                          break;
                      case "blue":
                          x = "blue";
                          break;
                      case "red":
                          x = "red";
                          break;
                      case "yellow":
                          x = "yellow";
                          break;
                      case "orange":
                          x = "orange";
                          break;
                      case "black":
                          x = "black";
                          break;
                      case "white":
                          x = "white";
                          break;
                  }
                  if (x == "white") y = 14;
                  else y = 2;

              }

              function draw() {
                  ctx.beginPath();
                  ctx.moveTo(prevX, prevY);
                  ctx.lineTo(currX, currY);
                  ctx.strokeStyle = x;
                  ctx.lineWidth = y;
                  ctx.stroke();
                  ctx.closePath();
              }

              function erase() {
                      ctx.clearRect(0, 0, w, h);
                      document.getElementById("canvasimg").style.display = "none";
              }

              function save() {
                  var dataURL = canvas.toDataURL();
                  document.getElementById('{{ loop.index0 + 1 }}drawing').value = dataURL;
              }

              function findxy(res, e) {
                  if (res == 'down') {
                      prevX = currX;
                      prevY = currY;
                      currX = e.clientX - canvas.offsetLeft;
                      currY = e.clientY - canvas.offsetTop;

                      flag = true;
                      dot_flag = true;
                      if (dot_flag) {
                          ctx.beginPath();
                          ctx.fillStyle = x;
                          ctx.fillRect(currX, currY, 2, 2);
                          ctx.closePath();
                          dot_flag = false;
                      }
                  }
                  if (res == 'up' || res == "out") {
                      flag = false;
                  }
                  if (res == 'move') {
                      if (flag) {
                          prevX = currX;
                          prevY = currY;
                          currX = e.clientX - canvas.offsetLeft;
                          currY = e.clientY - canvas.offsetTop;
                          draw();
                      }
                  }
              }
              </script>
                  <canvas id="{{ loop.index0 + 1 }}" width="400" height="400" style="z-index: 100; border:2px solid;"></canvas>
                  <div>Choose Color</div>
                  <div style="margin-bottom: 10px;">
                    <div style="float: left; width:10px;height:10px;background:green;" id="green" onclick="color(this)"></div>
                    <div style="float: left; width:10px;height:10px;background:blue;" id="blue" onclick="color(this)"></div>
                    <div style="float: left; width:10px;height:10px;background:red;" id="red" onclick="color(this)"></div>
                    <div style="float: left; width:10px;height:10px;background:yellow;" id="yellow" onclick="color(this)"></div>
                    <div style="float: left; width:10px;height:10px;background:orange;" id="orange" onclick="color(this)"></div>
                    <div style="width:10px;height:10px;background:black;" id="black" onclick="color(this)"></div>
                  </div>
                  <div>Eraser</div>
                  <div style="width:15px;height:15px;background:white;border:2px solid; margin-bottom: 10px;" id="white" onclick="color(this)"></div>
                  <input type="button" value="save" id="btn" size="30" onclick="save()">
                  <input type="button" value="clear" id="clr" size="23" onclick="erase()">
                  <textarea id="{{ loop.index0 + 1 }}drawing" cols="40" rows="10" name="answers[]" placeholder="{{ i[1] }}" style="display: none"></textarea>
              {% endif %}
              {% if i[2]=="coding" %}
              <br/><br/><textarea id="yourcode" cols="40" rows="10" name="answers[]" placeholder="{{ i[1] }}"></textarea><br/>
              <button onclick="runit()">Run</button>
              <pre id="output"></pre>
              <div id="mycanvas"></div>
              {% endif %}
              <hr/>
              {% endfor %}
              <input type="submit" id="submit">
            </form>
          </div>
{% endif %}

  <!-- Footer -->
  <img id='footer' width="100%"
    src="{{ url_for('static', filename='pics/footer.svg') }}">

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/map.js') }}"></script>

</body>

</html>
